
<!DOCTYPE html>

<head xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="pagina.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div>
    <h1 class="Title">Proyecto 1 | Sistemas Operativos</h1>

</div>
<hr/>
<div class="Notificacion">

    <div class="col-md-12">

        <div style="text-align:center; color: darkslateblue;">
            <button type="button" class="col-md-12" id="btn_notificar" role="button">Notificaciones</button>
        </div>

    </div>
<script>
    /* Script de Notificaciones
    * -Arreglar la funcion para saber si los datos se actualizaron*/
    if(Notification.permission!=="granted") {
        Notification.requestPermission();
    }
    document.getElementById("btn_notificar").addEventListener("click", onNotificationButtonClick);
    function onNotificationButtonClick() {
    if (!isNotificationSupported()) {
    logg("Tu navegador no soporta Notificaciones");
    return;
    }

    var notificacion = new Notification("Nueva Actualización", {
    body: 'Datos de Juegos Actualizados'
    });

    // Redireccionamos a un determinado Destino o URL al hacer click en la Notificación
    notificacion.onclick = function() {
        //Agregar actualización de datos
    };
    }

    function requestPermissions() {

    }
    function isNotificationSupported() {
    return ("Notification" in window);
    }

    // Es solo para mostrar el Mensaje de la Notificación
    function logg(mensaje) {
    notificador.innerHTML += "<p>"+mensaje+"</p>";
    }
    </script>

</div>

<div>
    <p>Lista de Juegos <br/></p>

</div>

<!-- Colocar Juegos (Esta seccion aun no muestra la lista de juegos) pero se supone que
recorre la lista de juegos y la va colocando en forma de cardview

<div th:each="data: ${Data}">
    <div class="row">
        <div class="column">
            <div class="card">
                <h3>th:text="${data.getGame()}"</h3>
                <<img src="https://i.blogs.es/f0de2f/dead-cells-dlc/original.jpeg" width="200"
                 height="200">
                <p>th:text="${data.getqueryDate()}"</p>
                <p>th:text="${data.getCalificacion()}"</p>
                <p>th:text="${data.getaverageTime()}"</p>
            </div>
        </div>
</div> -->

<!-- Estos son solo ejemplos, como la pagina no esta conectada con nada de Java
     Solo quería ver como se iba a ver -->
<div class="row">
    <div class="column">
        <div class="card">
            <h3>Juego 1</h3>
            <img src="https://i.blogs.es/f0de2f/dead-cells-dlc/original.jpeg" width="250"
                 height="250">
            <p>Some text</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Juego 2</h3>
            <img src="https://i.blogs.es/f0de2f/dead-cells-dlc/original.jpeg" width="250"
                 height="250">
            <p>Some text</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Game 3</h3>
            <img src="https://i.blogs.es/f0de2f/dead-cells-dlc/original.jpeg" width="250"
                 height="250">
            <p>Some text</p>
        </div>
    </div>


</div>


</div>

</body>
</html>