bn body{
    background-color: white;
}

.Title{
    text-indent: 30px;
    color: midnightblue;
    font: bold 250% monospace;
    }

.carousel{
    width: 35%;
    }

.Descripcion{
    text-indent: 50px;
    float:left;
    color: black;
    font: bold 90% monospace;
}
.b {
  border: 1px solid blue;
  background-color: lightblue;
  padding: 15px;
  float: left;

    text-align:center;

}

.lista{
    float:right;
}
.Notificacion{
    float: right;
}
* {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 10px;
    padding: 0 10px;
    height: 10px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .row{
        height: 100%;
        display: block;
    }

}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
}
h5 {
    color: midnightblue;
    font-weight: normal;
    font-size: 20px;
    font-family: monospace;
}
h6 {
    font-weight: normal;
    font-size: 16px;
    font-family: Arial;
}